name: Attest marisa build

on:
  push:
    branches:
      - master
    paths:
      - lib/**
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: docker build --platform amd64 --pull --no-cache --progress plain --output . src
      - run: git diff --exit-code lib # ensure the build was reproducible
      - uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            lib/marisa.wasm
            lib/marisa.cc
            lib/marisa.h
