name: Attest marisa build

on:
  push:
    branches:
      - master
    paths:
      - wasm/marisa.wasm
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: go generate .
      - run: git diff --exit-code # ensure the build was reproducible
      - uses: actions/attest-build-provenance@v3
        with:
          subject-path: wasm/marisa.wasm
