name: Test

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        arch:
          - amd64
          - 386
        include:
          - os: macos-latest
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go mod download
      - run: go mod verify
      - run: go vet ./...
      - run: mkdir cover
      - run: CGO_ENABLED=0 GOARCH=${{matrix.arch}} go test -v -cover -covermode=set ./internal/... -test.gocoverdir=$PWD/cover
      - run: CGO_ENABLED=0 GOARCH=${{matrix.arch}} go test -v -cover -covermode=set -coverpkg=.,./internal/... . -test.gocoverdir=$PWD/cover
      - run: go tool covdata textfmt -i=$PWD/cover -o=cover/overall.txt
      - run: go tool cover -func=cover/overall.txt && rm -rf cover
      - run: go run golang.org/x/exp/cmd/gorelease@v0.0.0-20250811191247-51f88131bc50 -base=$(git describe --tags --abbrev=0)
  benchmark:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        arch:
          - amd64
          - 386
        include:
          - os: macos-latest
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go mod download
      - run: go mod verify
      - run: gzip -cd testdata/words.gz ${{matrix.arch=='386'&&' | awk "NR<=10000" '||''}} | CGO_ENABLED=0 GOARCH=${{matrix.arch}} go run ./cmd/marisa-benchmark
      - run: CGO_ENABLED=0 GOARCH=${{matrix.arch}} go test -v -run='^$' -bench=BenchmarkTrie -benchmem .
