name: Test

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        arch:
          - amd64
          - 386
        include:
          - os: macos-latest
            arch: arm64

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go mod download
      - run: go mod verify
      - run: go vet ./...
      - run: CGO_ENABLED=0 GOARCH=${{matrix.arch}} go test -v ./...
        shell: bash
      - run: find ${{startsWith(matrix.os,'windows-')&&'$(cygpath -u '||''}} "$ANDROID_NDK_HOME" ${{startsWith(matrix.os,'windows-')&&')'||''}} | CGO_ENABLED=0 GOARCH=${{matrix.arch}} go run ./cmd/marisa-benchmark
        shell: bash
